In [ ]:
#Keywords:
True False
if elif else / while / for
def
global
import / as
and / or / not
break / del / from

In [ ]:
#IDENTIFIERS:

#Correct Ways:
a=10
a=(10,12,13,17)
a,b,c,d=10,12,13,17
roll_number=12

#Wrong Ways:

# 1. Do not start with "@, #, $, %" or any other special symbol.
        @roll_number=12     --->   error
    
# 2. Do not start with a number/digit.
        10_roll_number=12   --->   error
    
# 3. Do not add spaces between characters while defining a variable.
        roll number=12      --->   error
    
# 4. Keywords can't be assigned values (used to define variables).
        True=12   --->   error
        if=10     --->   error

In [ ]:
#Variables:
#Datatype [10 --> Integer, 99.5 --> Decimal/Float, "Mitansh" --> String]

In [1]:
a=10
roll_number=30
Percent=95.7
fruit='Apple'

In [5]:
type(fruit)

str

In [7]:
a,b,c=4,10,15
d=(c*b)/a

print(d)
print(type(d))

37.5
<class 'float'>

In [23]:
a="Mitansh is a student of Grade 11."
b="He studies in woodridge high"
print(a,"\n",b)

Mitansh is a student of Grade 11.
 He studies in woodridge high

In [ ]:
#Sequencing (Tuple, List)
#Mapping (Dictionary)

In [25]:
#Tuple:

a=(12, 86, 21, 76, 92)
b=(98.4, 89.2, 85.2)
c=('Mitansh', 'Ishita', 'Om', 'Betsy')
d=(86, 'Mitansh', 57.9, 92)

In [26]:
print(a)
print(b)
print(c)
print(d)

(12, 86, 21, 76, 92)
(98.4, 89.2, 85.2)
('Mitansh', 'Ishita', 'Om', 'Betsy')
(86, 'Mitansh', 57.9, 92)

In [27]:
a.remove(12)

AttributeError: 'tuple' object has no attribute 'remove'

In [2]:
#List:

p=[12, 86, 21, 76, 92]
q=[98.4, 89.2, 85.2]
r=['Mitansh', 'Ishita', 'Om', 'Betsy']
s=[86, 'Mitansh', 57.9, 92]

In [3]:
print(p)
print(q)
print(r)
print(s)

[12, 86, 21, 76, 92]
[98.4, 89.2, 85.2]
['Mitansh', 'Ishita', 'Om', 'Betsy']
[86, 'Mitansh', 57.9, 92]

In [4]:
p.remove(12)

In [5]:
print(p)

[86, 21, 76, 92]

In [8]:
#Dictionary:

m={
    'Fruit':['Apple', 'Mango','Grapes'],
    'Car':('Tesla','BMW','Audi'),
    'Watch':('Rolex', 1000),
    'Country':'India'
}

In [9]:
print(m)

{'Fruit': ['Apple', 'Mango', 'Grapes'], 'Car': ('Tesla', 'BMW', 'Audi'), 'Watch': ('Rolex', 1000), 'Country': 'India'}

In [7]:
technology={
    'Hardware':['Mouse', 'Keyboard', 'Monitor'],
    'Software':('Whatsapp', 'Telegram', 'Discord'),
    'OS':('Linux', 'Windows', 'MacOS'),
    'Gadgets':'iPhone'
}

In [8]:
print(technology)

{'Hardware': ['Mouse', 'Keyboard', 'Monitor'], 'Software': ('Whatsapp', 'Telegram', 'Discord'), 'OS': ('Linux', 'Windows', 'MacOS'), 'Gadgets': 'iPhone'}

In [9]:
for k,v in technology.items():
    print(k,':',v)

Hardware : ['Mouse', 'Keyboard', 'Monitor']
Software : ('Whatsapp', 'Telegram', 'Discord')
OS : ('Linux', 'Windows', 'MacOS')
Gadgets : iPhone

In [10]:
#Operators:

#1. Arithmetic Operators (+ - * / ** // %)

In [16]:
a,b,c,d=5,10,15,3

print(a+b+c)

30

In [17]:
print(a+c-b)

10

In [18]:
print(a*b)

50

In [21]:
print(b/d)

3.3333333333333335

In [22]:
print(b//d)

3

In [23]:
# 10/3 ----> % gives remainder
print(b%d)

1

In [26]:
print(2**4)

16

In [27]:
#Operators

#2. Relational Operators (==, !=, <, >)

In [47]:
a,b,c,d=5,10,15,3
e,f='mitansh ','mitansh'

In [48]:
print(a==b)
print(a!=b)
print(a>d)
print(a>c)
print(b<a)
print(a<b)

False
True
True
False
False
True

In [49]:
print(e==f)

False

In [2]:
#3. Assignment Operators (=, +=, -=, *=, /=, //=, **=, %=)

In [3]:
a=10
b=15

In [5]:
#  += ----> a+=b ----> a=a+b
a+=b
print(a)

25

In [6]:
#  -= ----> a-=b ----> a=a-b
a-=b
print(a)

10

In [7]:
#  *= ----> a*=b ----> a=a*b
a*=b
print(a)

150

In [8]:
#  /= ----> a/=b ----> a=a/b
a/=b
print(a)

10.0

In [9]:
p,q=15,8

In [12]:
#  %= ----> p%=q ----> p=p%q
p%=q
print(p)

7

In [13]:
#  //= ----> p//=q ----> p=p//q
p//=q
print(p)

0

In [14]:
m,n=10,3

print(10/3)

3.3333333333333335

In [15]:
print(10//3)

3

In [16]:
7/8

0.875

In [17]:
7//8

0

In [19]:
10%4

2

In [26]:
# 4. logical Operators (and, or, not)
a,b,c= 16,12,19
d,e,f= 'Mitansh','Viransh','Varad'

In [22]:
# and (Both conditions must be true for a TRUE output)

a>=16 and b>10

True

In [25]:
p,q=3,4

p>3 or p<4

True

In [28]:
not(a!=15)

False

In [1]:
# 5. Membership operators (in, not in)

In [2]:
a=[54, 12, 18, 64, 37]

In [3]:
12 in a

True

In [5]:
64 not in a

False

In [8]:
n = 34

n in range (1,34)

False

In [9]:
#Expressions:

12+68/4*2-5

#Step 1: 68/4 = 17
#   12+17*2-5

#Step 2: 17*2 = 34
#   12+34-5

#Step 3: 12+34 = 46
#   46-5

#Step 4: 46-5 = 41

41.0

In [10]:
1+2*(9-15)*4

# S1: (9-15)= -6
#  1+2*(-6)*4

# S2: 2*(-6) = -12
# 1 + -12*4

# S3: -12*4 = -48
# 1 + -48

# S4: 1 - 48 = (- 47)

-47

In [11]:
#Debugging (Types of Errors):
#1. Logical Error
#2. RunTime Error
#3. Syntax Error

In [12]:
50+42/2

71.0

In [13]:
(50+42)/2

46.0

In [14]:
print(9/0)

ZeroDivisionError: division by zero

In [18]:
print(We study IP.)

SyntaxError: invalid syntax (<ipython-input-18-65195b8138f7>, line 1)

In [19]:
print('We study IP.)

SyntaxError: EOL while scanning string literal (<ipython-input-19-563fc08a6b1f>, line 1)

In [21]:
my_list = [1, 2, 3, 4, 5, 6]
print(my_list[3])

4

In [29]:
dict={
    'MH':'Mumbai',
    'CG':'Raipur',
    'RJ':'Jaipur',
    'HR':'Chandigarh',
    'GJ':'Gandhinagar'
}

In [30]:
print(dict['MH'])

Mumbai

In [31]:
print(dict['GJ'])

Gandhinagar

In [32]:
dict['TM']

KeyError: 'TM'